{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'cargar_archivo.css') }}">
{% endblock %}
{% block content %}
<h2>Cargar Archivo de Datos de Temperatura y Humedad</h2>

<form action="{{ url_for('cargar_archivo') }}" method="post" enctype="multipart/form-data">
    <label for="archivo">Selecciona un archivo JSON o CSV:</label>
    <input type="file" id="archivo" name="archivo" accept=".json,.csv" required>
    <button type="submit">Cargar Archivo</button>
</form>

{% if datos %}
<h3>Datos Cargados</h3>
<table>
    <tr>
        <th>Fecha</th>
        <th>Temperatura (°C)</th>
        <th>Humedad (%)</th>
    </tr>
    {% for dato in datos %}
    <tr>
        <td>{{ dato['fecha'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ dato['temperatura'] }}</td>
        <td>{{ dato['humedad'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}



{% endblock %}